<html>
<head>
    <title>Thanks Hub!</title>
    <link rel="icon" href="/assets/images/icon.png?v=2" type="image/x-icon"/>
    <link rel="shortcut icon" href="/assets/images/icon.png?v=2" type="image/x-icon"/>
    <link rel="stylesheet" href="/assets/css/reset.css"/>
    <link rel="stylesheet" href="/assets/css/style.css"/>
    <style>
        .container {
            margin: 0 auto;
            width: 920px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="header">
        <div class="logo">Thanks Hub!</div>
    </div>
    <div class="body">
        <p>Thank you for choosing us :)</p>
    </div>
</div>
</body>
</html>